.nav-link{
  color: white;
  text-shadow: 5px;
  font-weight: bold;
}
.nav-link:hover{
  background: white;
  color: yellow;

}
.top{
  height: 500px;
  background-image: url("images/akan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-c{
  height: 500px;
  width: 100%;
  background-color: rgba(255, 155, 0, 0.2);
}
.top-nav h2{
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: white;
  font-size: 5em;
  position: relative;
}
.top-nav h2::before{
  content: '';
  position: absolute;
  bottom: 10px;
  left: 400px;
  height: 5px;
  width: 500px;
  background-color: white
}
.intro h3{
  font-family: 'IM Fell Double Pica', serif;
  letter-spacing:3px;
  background-color: black;
  color: white;
  padding: 10px 40px;
  width: 250px;
  position: relative;
}
/* .intro h3::before{
  content: '';
  position: absolute;
  bottom: -60px;
  left: 0;
  height: 100px;
  width:10px;
  background-color: rgb(255,255,100);
  z-index: -1;
   } */
.intro p{
  text-align: justify;
  font-style: italic;
  line-height: 35px;
  padding:10px 35px;
  background-color: rgba(255, 255, 0, 0.1);
  border: 5px solid rgb(255,255,100);
  border-width: 0px 0px 0px 10px;
}
.hist-top h3{
  font-family: 'IM Fell Double Pica', serif;
  letter-spacing:3px;
  background-color: black;
  color: white;
  padding: 10px 40px;
  width: 250px;

}
.row .hist p{
  text-align: justify;
  line-height:35px;
  padding: 10px 35px;
  font-style: oblique;
  background-color: rgba(255, 255, 0, 0.1);
  border: 5px solid rgb(255,255,100);
  border-width: 0px 0px 0px 10px;
}
.gallery h3{
  text-align: center;
  font-family: 'IM Fell Double Pica', serif;
  letter-spacing:3px;
  font-style: italic;
  position: relative;
}
.gallery h3::before{
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  height: 2px;
  width: 410px;
  background-color: black;
}
.gallery h3::after{
  content: '';
  position: absolute;
  top: 15px;
  right: 0;
  height: 2px;
  width: 410px;
  background-color: black;
}

.gallery .card-img-top{
  height: 250px;

}
#akan-names h3{
  font-family: 'IM Fell Double Pica', serif;
  letter-spacing:3px;
  background-color: black;
  color: white;
  padding: 10px 40px;
  width: 300px;
  position: relative;

}
